#wrapper{
    background-color:purple;
    width:810px;
    height:1000px;
    padding-top:10px;
}
#header{
    background-color:darkseagreen;
    margin:15px;
}
#header img{
    background-color: darkseagreen;
    width:50px;
    height:50px;
    display: inline-block;
    padding:10px;
    padding-top: 15px;
    vertical-align: top;
}
h1{
    display: inline-block;
}
#header a{
    padding-left:15px;
}
#content{
    background-color: burlywood;
    margin:15px;
}
#content div{
    color:white;
}
#header a{
    color:white;
}
a{
    color:purple;
}
#left{
    background-color:cadetblue;
    display: inline-block;
    width:200px;
    padding:10px;
    margin-left:15px;
    margin-top:15px;
}
#right{
    display: inline-block;
    width:65%;
    margin-left:10px;
}
#firstone, #firsttwo, #firstthree{
    width:130px;
    height:160px;
    display: inline-block;
    margin-left:15px;
    vertical-align: top;
    background-color: cadetblue;
    padding:10px;
}
#secondone, #secondtwo{
    width:215px;
    display: inline-block;
    margin-left:15px;
    background-color: cadetblue;
    padding:10px;
    margin-top:13px;
}
#third{
    width:470px;
    display: inline-block;
    margin:15px;
    background-color: cadetblue;
    padding:10px;
}
#foot{
    background-color: darkseagreen;
    margin:15px;
    height:56px;
    padding:3px;
    text-align: center;
}
.green{
    color:green;
}
h2, h3{
    margin:0px;
}
p{
    margin-top:10px
}
